<html lang="en-US">

<head>
    <title>zAccordion Examples</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="{{ site.url }}/js/libs/jquery-1.8.1.min.js"></script>
    <script src="{{ site.url }}/js/libs/jquery.easing.min.js"></script>
    <script src="{{ site.url }}/js/jquery.zaccordion.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/slider.css" />
    <script type="text/javascript">

        $(document).ready(function () {
            $("#slider").zAccordion({
                tabWidth: 33,
                speed: 650,
                slideClass: 'click',
                animationStart: function () {
                    $('#slider').find('li.slider-open div').css('display', 'none');
                    $('#slider').find('li.slider-previous div').css('display', 'none');
                },
                animationComplete: function () {
                    $('#slider').find('li div').fadeIn(600);
                },
                width: 960,
                height: 270
            });
        });
    </script>
</head>

<body>

    <ul id="slider" style="display: block; height: 270px; width: 915px; padding: 0px;margin:0px;top:0px; position: relative; overflow: hidden; list-style: outsidenone none;">

        <li class="click click-previous click-closed" style="top: 0px; z-index: 40; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 750px; height: 270px; text-indent: 0px; left: 132px; cursor: pointer;">
            <div class="textref textref5">NGS analyses</div>
            <div>
                <img srcset="http://galaxy.southgreen.fr/galaxy/static/style/ngs.jpg 362w, http://galaxy.southgreen.fr/galaxy/static/style/ngs.jpg 300w" />
                <div>
                    <p>
                        <strong><a href="">NGS analyses</a></strong><br />
                    </p>
                    <p>We propose several workflows for NGS analyses in different scenarii (transcriptome vs
                        transcriptome, transcriptome vs genome
                        ...)
                        <br />It includes cleaning and mapping steps using commonly used softwares.
                        <br />
                        <br />
                        <b>Input</b>: Fastq files + FASTA for reference<br />
                        <b>Output</b>: BAM alignment files<br />
                    </p>
                    <a class="readmore1" href="http://galaxy.southgreen.fr/galaxy/u/marilyne/p/cleaning--mapping"
                        target="_blank">Access workflow</a><br /><br />
                </div>
            </div>
        </li>
        <!--End NGS Analyses-->
        <!--Start SNP Calling-->
        <li class="click click-closed" style="top: 0px; z-index: 0; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 750px; height: 270px; text-indent: 0px; left: 0px; cursor: pointer;">
            <div class="textref">SNP calling</div>
            <div>
                <img srcset="{{ site.url }}/images/snp_visu_galaxy.PNG 362w, {{ site.url }}/images/snp_visu_galaxy.PNG 300w" />
                <div>
                    <p>
                        <strong><a href="">SNP calling</a></strong><br />
                    </p>
                    <p>
                        The SNP Calling is based on the <b>GATK toolkit</b>, using either UnifiedGenotyper or
                        HaplotypeCaller module.<br /><br />
                        <b>Input</b>: BAM alignment files + FASTA for reference<br />
                        <b>Output</b>: VCF (Variant call Format) file<br />
                    </p>
                    <a class="readmore1" href="http://galaxy.southgreen.fr/galaxy/u/dereeper/p/snp-calling"
                        target="_blank">Access workflow</a><br><br>
                    <p></p>
                </div>
            </div>
        </li>
        <!--End NGS Calling-->
        <!--Start SNP Analysis-->
        <li class="click click-closed" style="top: 0px; z-index: 20; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 750px; height: 270px; text-indent: 0px; left: 66px; cursor: pointer;">
            <div class="textref textref4">SNP analysis</div>
            <div>
                <img srcset="http://galaxy.southgreen.fr/galaxy/static/style/mdsplot.PNG 362w, http://galaxy.southgreen.fr/galaxy/static/style/mdsplot.PNG 300w" />
                <div>
                    <p>
                        <strong><a href="http://galaxy.southgreen.fr/galaxy/u/dereeper/p/sniplay-workflow"
                                target="_blank">SNP analysis</a></strong><br>
                    </p>
                    <p><b>SNiPlay3</b> complete workflow: a package for exploration and large scale analyses of SNP
                        polymorphisms (filtering, SNP d
                        ensity, diversity, linkagedisequilibrium) (Dereeper et al, 2015) <br /><br />
                        <b>Input</b>: VCF<br />
                        <!--<b>Recommended max size for input</b>: 1 Go -->
                    </p>
                    <a class="readmore1"
                        href="http://galaxy.southgreen.fr/galaxy/u/dereeper/p/sniplay-statistics-diversity-filtering"
                        target="_blank">Access workflow< /a> <br><br>
                            <p></p>
                </div>
            </div>
        </li>
        <!--End NGS Analysis-->
        <!--Start SNiPlay GWAS-->
        <li class="click click-closed" style="top: 0px; z-index: 10; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 750px; height: 270px; text-indent: 0px; left: 33px; cursor: pointer;">
            <div class="textref textref5">GWAS</div>
            <div>
                <img srcset="http://galaxy.southgreen.fr/galaxy/static/style/Manhattan_Plot.png 362w, http://galaxy.southgreen.fr/galaxy/static/style/Manhattan_Plot.png 300w" />
                <div>
                    <p>
                        <strong><a href="">GWAS</a></strong><br />
                    </p>
                    <p>
                        <p><b>SNiPlay3 GWAS workflow</b>: Tassel-based GWAS workflow (GLM model) including population
                            structure and correction for structure (Dereeper et al, 2015) <br /><br />
                            <b>Input</b>: VCF + Phenotypic tabulated file<br />

                        </p>
                        <a class="readmore1"
                            href="http://galaxy.southgreen.fr/galaxy/u/dereeper/p/sniplay-gwas-analysis"
                            target="_blank">Access workflow</a><br /><br />
                        <p></p>
                </div>
            </div>
        </li>
        <!--End SNiPlay GWAS-->
        <!--Start Structural variations -->
        <li class="click click-closed" style="top: 0px; z-index: 30; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 750px; height: 270px; text-indent: 0px; left: 99px; cursor: pointer;">
            <div class="textref">Structural variations</div>
            <div>
                <img srcset="http://galaxy.southgreen.fr/galaxy/static/style/scaffremodeler.png 362w, http://galaxy.southgreen.fr/galaxy/static/style/scaffremodeler.png 300w" />
                <div>
                    <p>
                        <strong>Structural variations</strong><br>
                    </p>
                    <p>

                        <p><b>Scaffremodeler</b> can be used to detect large structural variations between a reference
                            sequence and a resequenced genome (Martin et al, 2016) <br /><br />
                            <b>Input</b>: Fastq + FASTA<br />

                        </p>
                        <a class="readmore1"
                            href="http://galaxy.southgreen.fr/galaxy/u/droc/p/scaffremodler--structural-variation"
                            target="_blank">Access workflow</a><br>
                        <br>
                        <p></p>
                </div>
            </div>
        </li>
        <!--End Chromosome reconstruction -->

        <!--Start Chromosome reconstruction -->
        <li class="click click-closed" style="top: 0px; z-index: 30; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 750px; height: 270px; text-indent: 0px; left: 99px; cursor: pointer;">
            <div class="textref textref4">Chrom. reconstruction</div>

            <div>
                <img srcset="http://galaxy.southgreen.fr/galaxy/static/style/chrom_reconstruction.png 362w, http://galaxy.southgreen.fr/galaxy/static/style/chrom_reconstruction.png 300w" />
                <div>
                    <p>
                        <strong>Chromosome reconstruction</strong><br>
                    </p>
                    <p>

                        <p><b>Scaffrehunter</b> tools assemble scaffolds into pseudomolecules using markers genotyped in
                            a population (Martin et al, 2016) <br /><br />
                            <b>Input</b>: Fastq + FASTA<br />

                        </p>
                        <a class="readmore1"
                            href="http://galaxy.southgreen.fr/galaxy/u/droc/p/scaffhunter--chromosome-reconstruction"
                            target="_blank">Access workflow</a>
                        < br><br>
                            <p></p>
                </div>
            </div>
        </li>

        <!--Start Metagenomics -->
        <li class="click click-closed" style="top: 0px; z-index: 30; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 750px; height: 270px; text-indent: 0px; left: 99px; cursor: pointer;">
            <div class="textref textref5">Metagenomics</div>
            <div>
                <img srcset="{{ site.url }}/images/metagenomics.PNG 362w, {{ site.url }}/images/metagenomics.PNG 300w" />
                <div>
                    <p>
                        <strong>Metagenomics</strong><br>
                    </p>
                    <p>

                        <p><b>FROGS</b>: Find Rapidly OTU with Galaxy Solution (Pascal et al, 2015) <br /><br />
                            <b>Input</b>: Fastq files<br />

                        </p>
                        <a class="readmore1" href="http://galaxy.southgreen.fr/galaxy/u/dereeper/p/frogs"
                            target="_blank">Access workflow</a><br><br>
                        <p></p>
                </div>
            </div>
        </li>
        <!--End Metagenomics -->


        <!--Start Gene families -->
        <li class="click click-open" style="top: 0px; z-index: 50; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 750px; height: 270px; text-indent: 0px; left: 882px; cursor: default;">
            <div class="textref">Gene families</div>
            <div>
                <img srcset="http://galaxy.southgreen.fr/galaxy/static/style/tree.jpg 362w, http://galaxy.southgreen.fr/galaxy/static/style/tree.jpg 300w" />
                <div>
                    <p>
                        <strong><a href="">Gene families</a></strong><br>
                    </p>
                    <p>
                        <p><b>Greenphyl / GenFam </b>: comparative and functional genomics in plants (Rouard et al,
                            2011).<br /><br />
                            <b>Input</b>: FASTA file, Species tree file<br />

                        </p>
                        <a class="readmore1"
                            href="http://galaxy.southgreen.fr/galaxy/u/jfdufayard/p/phylogeny-workflows-1"
                            target="_blank">Access workflow</a><br><br>
                        <p></p>
                </div>
            </div>
        </li>

        <!--start mossaic structure reconstruction-->
        <li class="click click-open" style="top: 0px; z-index: 50; margin: 0px; padding: 0px; float: left; display: block; position: absolute; overflow: hidden; width: 750px; height: 270px; text-indent: 0px; left: 882px; cursor: default;">
            <div class="textref textref4">Mosaic Genomes</div>
            <div>
                <img srcset="{{ site.url }}/images/circos.jpg 362w, {{ site.url }}/images/circos.jpg 300w" />
                <div>
                    <p>
                        <strong><a href="">Mosaic genome reconstruction</a></strong><br>
                    </p>
                    <p>
                        <p><b>TraceAncestor / KDE_Classifier </b>: Two approaches to analyze the mosaic structure of
                            plant geno
                            mes <br /><br />
                            <b>Input</b>: VCF file + structure file<br />
                        </p>
                        <a class="readmore1" href="http://galaxy.southgreen.fr/galaxy/u/acomte/p/reconstruction-of-mosaic-genomes" target="_blank">Access workflow</a><br><br>
                        <p></p>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</body>

</html>