
<div class='container'>
    <div class='row'>
        <div class='col' data-netdata="netdata.web_thread1_cpu"
        data-title="Web thread 1 CPU"
        data-chart-library="gauge"
        data-decimal-digits="0"
        data-common-max="top-gauges"
        data-width="10%"
        data-after="-60"
        data-points="60"
        data-colors="#55B33C"
        ></div>
        <div class='col' data-netdata="netdata.web_thread2_cpu"
        data-title="Web thread 2 CPU"
        data-chart-library="gauge"
        data-decimal-digits="0"
        data-common-max="top-gauges"
        data-width="10%"
        data-after="-60"
        data-points="60"
        data-colors="#55B33C"
        ></div>
        <div class='col' data-netdata="netdata.web_thread3_cpu"
        data-title="Web thread 3 CPU"
        data-chart-library="gauge"
        data-decimal-digits="0"
        data-common-max="top-gauges"
        data-width="10%"
        data-after="-60"
        data-points="60"
        data-colors="#55B33C"
        ></div>
        <div class='col' data-netdata="netdata.web_thread4_cpu"
        data-title="Web thread 4 CPU"
        data-chart-library="gauge"
        data-decimal-digits="0"
        data-common-max="top-gauges"
        data-width="10%"
        data-after="-60"
        data-points="60"
        data-colors="#55B33C"
        ></div>
        <div class='col' data-netdata="netdata.web_thread5_cpu"
        data-title="Web thread 5 CPU"
        data-chart-library="gauge"
        data-decimal-digits="0"
        data-common-max="top-gauges"
        data-width="10%"
        data-after="-60"
        data-points="60"
        data-colors="#55B33C"
        ></div>
        <div class='col' data-netdata="netdata.web_thread6_cpu"
        data-title="Web thread 6 CPU"
        data-chart-library="gauge"
        data-decimal-digits="0"
        data-common-max="top-gauges"
        data-width="10%"
        data-after="-60"
        data-points="60"
        data-colors="#55B33C"
        ></div>        
    </div>

    <div class='row'>
        <div class='col' data-netdata="netdata.web_thread1_cpu"
            data-dimensions="user"
            data-chart-library="dygraph"
            data-dygraph-theme="sparkline"
            data-width="10%"
            data-height="30px"
            data-after="-60"
            data-points="60"
            data-colors="#F49831"
        ></div>
        <div class='col' data-netdata="netdata.web_thread2_cpu"
            data-dimensions="user"
            data-chart-library="dygraph"
            data-dygraph-theme="sparkline"
            data-width="10%"
            data-height="30px"
            data-after="-60"
            data-points="60"
            data-colors="#F49831"
        ></div>
        <div class='col' data-netdata="netdata.web_thread3_cpu"
            data-dimensions="user"
            data-chart-library="dygraph"
            data-dygraph-theme="sparkline"
            data-width="10%"
            data-height="30px"
            data-after="-60"
            data-points="60"
            data-colors="#F49831"
        ></div>
        <div class='col' data-netdata="netdata.web_thread4_cpu"
            data-dimensions="user"
            data-chart-library="dygraph"
            data-dygraph-theme="sparkline"
            data-width="10%"
            data-height="30px"
            data-after="-60"
            data-points="60"
            data-colors="#F49831"
        ></div>
        <div class='col' data-netdata="netdata.web_thread5_cpu"
            data-dimensions="user"
            data-chart-library="dygraph"
            data-dygraph-theme="sparkline"
            data-width="10%"
            data-height="30px"
            data-after="-60"
            data-points="60"
            data-colors="#F49831"
        ></div>
        <div class='col' data-netdata="netdata.web_thread6_cpu"
            data-dimensions="user"
            data-chart-library="dygraph"
            data-dygraph-theme="sparkline"
            data-width="10%"
            data-height="30px"
            data-after="-60"
            data-points="60"
            data-colors="#F49831"
        ></div>

    </div>
</div>

<script type="text/javascript" src="http://195.221.173.202:19999/dashboard.js"></script>
    