
<div data-netdata="netdata.web_thread1_cpu"
data-title="Web thread 1 CPU"
data-chart-library="gauge"
data-decimal-digits="0"
data-common-max="top-gauges"
data-width="30%"
data-after="-60"
data-points="60"
data-colors="#558855"
></div>

<div data-netdata="netdata.web_thread1_cpu"
data-dimensions="user"
data-chart-library="dygraph"
data-dygraph-theme="sparkline"
data-width="30%"
data-height="30px"
data-after="-60"
data-points="60"
data-colors="#FF5555"
></div>
<script type="text/javascript" src="http://195.221.173.202:19999/dashboard.js"></script>
    