

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-xs-4">
    <img class="rounded-circle" src="{{ site.url }}/images/register/002-user.png" alt="Generic placeholder image" width="50" height="50">
    <h2>Register</h2>
    <p>Please contact bioinfo@ird.fr to create an account</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-xs-4">
    <img class="rounded-circle" src="{{ site.url }}/images/register/003-user-SG.png" alt="Generic placeholder image" width="50" height="50">
    <h2>Contact</h2>
    <p>bioinfo@ird.fr</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-xs-4">
    <img class="rounded-circle" src="{{ site.url }}/images/register/001-power.png" alt="Generic placeholder image" width="50" height="50">
    <h2>Big Data</h2>
    <p>To improve your available space please contact bioinfo@ird.fr</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
