<div style="border-top: 2px dashed #008000; padding-top:25px;">
    <div class="row">
        <div class="col-xs-6">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/Bd7LAw8-eBE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-xs-6">
            <a class="twitter-timeline" data-width="400" data-height="300" data-lang="en" data-theme="dark" href="https://twitter.com/ItropBioinfo?ref_src=twsrc%5Etfw">Tweets by ItropBioinfo</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        
      </div><!-- /.row -->
        
</div>